* {
	margin: 0;
	padding: 0;
	
}
ul,ol{
	list-style: none;	
}
header{
	width: 100%;
}

.menu li:hover {
	background:rgba(0, 0, 0,.3);
	border-right: 1px sol transparent;
}


.redes{
	background: #fff;
	height: 50px;
	width: 100%;
	
}
.redes1{
	float: right;
	margin-right: 100px;
}
.redes2{
	margin-top: 6px;
	width: 35px;
	height: 35px;
}
.banner1{
	width: 100%;
	height: 440px;
	
}



.bn-sl-mg{
	margin-top: 15px;
	margin-bottom: 20px;
}

/* SEPARADORES DE CAMPO */
.lb-int{
	width: 50%;
	border-bottom: solid 3px #1c4c96;
	display: flex;
	justify-content: center;
	h1{
		color: #062863;
	}
}

/* PRODUCTOS NUEVOS */

.cont-new{
	display: flex;
    margin: 2rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.product-cont{
	margin: 0.8rem;
	padding: 1rem;
	width: 21rem;
	border-radius: 8px;
	display: grid;
    align-items: stretch;
    justify-content: center;
    justify-items: center;
}
.bg-prt-cont{
	background-color: #a3a3a33d;
	box-shadow: 2px 4px 10px #1c4d9673;
}

.txt-card{
	display: grid;
	justify-items: center;
	h4{
		color: #062863;
	}
	p{
		color: #00000082;
	}
}

.img-card,.price-card{
	display: flex;
	justify-content: center;
	align-items: center;
}
.price-card{
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.price-card span b{
	font-size: 20px;
}

/* PRODUCTOS OFERTAS*/

.cont-ofet{
	display: flex;
    margin: 2rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.bg-prt-cont-2{
	background-color: #ffffff;
	box-shadow: 2px 4px 10px #b8b8b891;
}
.bg-ofetas{
	background-color: #062863;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.lb-int-2{
	border-bottom: solid 3px #ffffff6c;
	display: flex;
	justify-content: center;
	h1{
		color: #ffffff;
	}
}